Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.8
alembic==0.7.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
httplib2==0.9
kombu==3.0.24
oauth2==1.5.211
pytz==2014.10
redis==2.10.3
requests==2.5.1
-e .
-e hg+ssh://hg@bitbucket.org/iamFIREcracker/strappon@6830f6ba224ec7750c89c02fc676f29c41ab32a8#egg=strappon-dev
web.py==0.37
webassets==0.10.1
-e hg+ssh://hg@bitbucket.org/iamFIREcracker/weblib@eb2bd38e682a1daf73180cbe2ab636817045d2b3#egg=weblib-dev
wsgiref==0.1.2
