Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.8
alembic==0.7.3
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
httplib2==0.9
kombu==3.0.24
oauth2==1.5.211
pytz==2014.10
redis==2.10.3
requests==2.5.1
-e .
-e hg+ssh://hg@bitbucket.org/iamFIREcracker/strappon@c6df228db03d21ea6a8f1ac363b13da0ce783a46#egg=strappon-dev
web.py==0.37
webassets==0.10.1
-e hg+ssh://hg@bitbucket.org/iamFIREcracker/weblib@5b2852bb073ffb31b795db7364764b4e953e4462#egg=weblib-dev
wsgiref==0.1.2
