<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Strappo - Sharing is carrying</title>
    <link id="favicon" rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
<div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px">
    <header>
        <div class="row">
            <div class="col-xs-3 col-md-offset-2 col-md-2">
                <img class="img-responsive" src="/static/images/logo.png" width="auto" />
            </div>
            <div class="col-xs-9 col-md-6">
                <img class="img-responsive" src="/static/images/name.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-7 col-md-3">
                <p class="lead text-center"><em>Sharing is carrying</em></p>
            </div>
        </div>
    </header>
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Cos'è strappo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p>
                Un nuovo modo di muoversi in città. Social, divertente e gratis. L'autostop 2.0!
                <br />
                Unisciti alla community e scambia passaggi in macchina, fai nuovi amici e contribuisci a ridurre l'inquinamento ed il traffico!
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Come funziona</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p>
                Guidi spesso? Perché non dare uno strappo a qualcuno che sta andando nella stessa direzione? Registrati come guidatore e ricevi notifiche quando ci sono passeggeri in attesa.
                <br />
                Sei a piedi stasera? Cerca uno strappo!
                </p>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Newsletter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p>
                Per il momento siamo attivi solo in Versilia e a Pisa, ma raggiungeremo presto altre aree sul suolo italiano.
                <br />
                Registrati se sei interessato ad avere aggiornamenti riguardo l'ultima versione rilasciata, le ultime features disponibili, o l'ultima città aggiunta al network.
                </p>
            </div>
        </div>
        <div class="row voffset-2">
            <div class="col-md-offset-4 col-md-4 text-center">
                <a href="http://eepurl.com/XqTg9" target="_blank" class="btn btn-primary btn-lg active" role="button">Registrati</a>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Scarica l'applicazione</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p>
                Per scaricare la BETA di strappo, clicca su uno dei seguenti bottoni.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-2 voffset-3">
                <img class="img-responsive hcenter" src="/static/images/Download_on_the_App_Store_Badge_US-UK_135x40.png" />
            </div>
            <div class="col-md-2 voffset-3">
                <img class="img-responsive hcenter" src="/static/images/en_generic_rgb_wo_45.png" />
            </div>
        </div>
    </section>
</div>
</body>
</html>
