<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Strappo / Condizioni di utilizzo</title>
    <link id="favicon" rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
<div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px">
    <section>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Condizioni di utilizzo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <p>
                <em>strappo</em> è in beta test e il servizio è disponibile unicamente nelle zone della Versilia e Pisa.
                </p>

                <p>
                La registrazione dell’account su strappo è subordinata all’accettazione delle condizioni sull'utilizzo ed il trattamento dei dati personali degli utenti secondo tutte le norme vigenti ex art. 13 D.Lgs. 196/2003.
                </p>

                <p>
                Con l’accettazione di un’offerta di passaggio, il passeggero conclude con il guidatore un contratto di trasporto di persone a titolo gratuito, disciplinato dagli art. 1681 e ss. c.c.  Il contratto di trasporto di persone a titolo gratuito è concluso esclusivamente tra il guidatore ed il passeggero.
                </p>

                <p>
                Con la registrazione dei dati riguardanti l’autovettura il guidatore prende atto che nei contratti di trasporto persone a titolo gratuito sia il conducente che il proprietario dell’autovettura sono entrambi solidalmente responsabili per i danni eventualmente subiti dalle persone e dalle cose trasportate e che nessuna responsabilità è imputabile ai gestori del servizio software strappo.
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
